.bg-success {
  background-color: #28a745!important;
  /* width: 1138px;
  margin-left: -15px; */
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.border-success {
  border-color: #28a745!important;
  border: 1px solid rgba(0,0,0,.125);
}
